@font-face {
	font-family: "Montserrat";
	src: url('Montserrat-Regular.otf');
}

.tahoma {
	font-family: "Tahoma", sans-serif;
}

.montserrat {
	font-family: "Montserrat", sans-serif
}

.bold {
	font-weight: bold
}

.italic {
	font-style: italic
}

a {
	text-decoration: none
}

div .w3-button {
	font-family: Montserrat
}

.l4hblue {
	color:#fff!important;
	background-color:#020546!important;
}

.l4hgreen {
	color:#fff!important;
	background-color:#137613!important;
}

.l4hamber {
	color:#000!important;
	background-color:#F2D431!important;
}

.ambient {
	color:#fff!important;
	background-color:#101010!important;
}

.topbar {
	height: 80px;
	padding: 24px 0px; 
}

.burger {
	height: 64px;
	font-size: 32px;
}

.spacer {
	height: 64px
}

.headers {
	height: 70vh
}

.dashheaders {
	height: 30vh
}

.insetlogo {
	border-style: solid; 
	border-width: 5px;
}

.cards {
	min-height: 200px;
}

.article {
	min-height: 180px;
}

@media only screen and (max-width: 600px) {
	.article {
		min-height: 250px;
	}
}

#header-1 {
	background-image: url('images/header-1.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#header-2 {
	background-image: url('images/header-2.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #faa;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #faa;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

